<h1>Editing team</h1>
 
<%= form_for :team, url: team_path(@team), method: :patch do |f| %>
 
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@team.errors.count, "error") %> prohibited
        this team from being saved:
      </h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :text %>
      <%= f.text_area :text, class: 'form-control' %>
 
      <%= f.submit "Edit", class: "btn btn-primary" %>
 
<% end %>


<h1>Add Players</h1>

<div class="container">
  <div class="row">
     <div class="col-md-5">
        <%= render 'layouts/team_form_card' %><br>
        <%= image_tag("blank_image.jpg", :alt => "rss feed" , :class => ["displayed" , "character-image-size", "card"], :id => "9") %>
        <center> gk </center>
     </div>
     <div class="col-md-2">
        <br><br><br><br>
        <%= image_tag("blank_image.jpg", :alt => "rss feed" , :class => ["displayed" , "character-image-size", "card"], :id => "10") %>
        <center> support </center>
      </div>
      <div class="col-md-5">
        <h1>Pick Players Here!</h1>
        <%= render 'layouts/team_pick_players' %><br>
      </div>
    </div>
</div>

<%= form_for :team, url: team_path(@team), action: "add_players" do |f| %>
  <% (0..9).each do |i| %>
    <%= f.hidden_field :players, :multiple => true,:id => "hidden" + i.to_s, :value => "" %>
  <% end %>
  <%= f.submit "Add Players", class: "btn btn-primary" %>
<% end %>

 
<%= link_to 'Back', teams_path %>

<script>
$('.card').click(function() { 
    var clicked = $(this);
    var highlighted = $('.highlight-image');
    $(this).toggleClass("card").toggleClass("highlight-image");
    if (highlighted.length > 0) {
      highlighted.each(function(){
          if (clicked.id != this.id) {
            $(this).toggleClass("card").toggleClass("highlight-image");
          }
        }) 
    }
});
</script>

<script>
$('.pick').click(function() { 
    var src = this.src;
    var highlighted = $('.highlight-image');
    var highlighted_src = highlighted.attr("src");
    var card = $('.card');
    if (highlighted.length > 0) {
      card.each(function(){
        if (this.src == src) {
         this.src = highlighted_src;
        }
     $('.highlight-image').attr("src", src);
    })
  }
});
</script>

;