<h1>Listing teams</h1>
<%= link_to 'New team', new_team_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.title %></td>
      <td><%= team.text %></td>
      <td><%= link_to 'Show', team_path(team) %></td>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
    </tr>
  <% end %>
</table>